<!-- Enabling routing - https://angular.dev/tutorials/learn-angular/12-enable-routing -->
<nav>
  <a href="/">Home</a>
  <!-- |
  <a href="/user">User</a>
  |
  <a href="/child">Child</a>
  |
  <a href="/comments">Comments</a> -->
  |
  <a href="/lesson01">Lesson 01</a>
  |
  <a href="/lesson02">Lesson 02</a>
  |
  <a href="/lesson03">Lesson 03</a>
  |
  <a href="/lesson04">Lesson 04</a>
  |
  <a href="/lesson05">Lesson 05</a>
  |
  <a href="/lesson06">Lesson 06</a>
  |
  <a href="/lesson07">Lesson 07</a>
  |
  <a href="/lesson08">Lesson 08</a>
  |
  <a href="/lesson09">Lesson 09</a>
  |
  <a href="/lesson10">Lesson 10</a>
  |
  <a href="/lesson11">Lesson 11</a>
</nav>
<hr>