<!-- Enabling routing - https://angular.dev/tutorials/learn-angular/12-enable-routing -->
<nav>
  <!-- Link to a route with RouterLink - https://angular.dev/tutorials/learn-angular/14-routerLink -->
  <a routerLink="/">Home</a>
  <!-- |
  <a routerLink="/user">User</a>
  |
  <a routerLink="/child">Child</a>
  |
  <a routerLink="/comments">Comments</a> -->
  |
  <a routerLink="/lesson01">Lesson 01</a>
  |
  <a routerLink="/lesson02">Lesson 02</a>
  |
  <a routerLink="/lesson03">Lesson 03</a>
  |
  <a routerLink="/lesson04">Lesson 04</a>
  |
  <a routerLink="/lesson05">Lesson 05</a>
  |
  <a routerLink="/lesson06">Lesson 06</a>
  |
  <a routerLink="/lesson07">Lesson 07</a>
  |
  <a routerLink="/lesson08">Lesson 08</a>
  |
  <a routerLink="/lesson09">Lesson 09</a>
  |
  <a routerLink="/lesson10">Lesson 10</a>
  |
  <a routerLink="/lesson11">Lesson 11</a>
  |
  <a routerLink="/lesson15">Lesson 15/16</a>
  |
  <a routerLink="/lesson17">Lesson 17/18</a>
  |
  <a routerLink="/lesson19">Lesson 19/20/21</a>
</nav>
<hr>