<!-- Introduction - https://angular.dev/tutorials/learn-angular -->
<h1>Welcome to Angular!</h1>
<p><strong>{{ title }}</strong></p>
<hr>
<!-- Anatomy of a Component - https://angular.dev/tutorials/learn-angular/1-components-in-angular -->
<p>Hello Universe</p>
<hr>
<!-- Updating the component - https://angular.dev/tutorials/learn-angular/2-updating-the-component-class
 -->
<p><em>{{ city }}</em>, {{ 1 + 1 }}</p>
<hr>
<!-- Component composition - https://angular.dev/tutorials/learn-angular/3-composing-components -->
<section>
  <app-user />
</section>
<hr>
<!-- Control flow in components - @if - https://angular.dev/tutorials/learn-angular/4-control-flow-if -->
@if (isServerRunning) {
<span>Yes, the server is running</span>
} @else {
<span>No, the server is not running</span>
}
<hr>
<!-- Control flow - @for - https://angular.dev/tutorials/learn-angular/5-control-flow-for -->
@for(user of users; track user.id) {
<p>{{ user.name }}</p>
}
<hr>
<!-- Property binding - https://angular.dev/tutorials/learn-angular/6-property-binding -->
<div [contentEditable]="isEditable"></div>
<hr>
<!-- Event handling - https://angular.dev/tutorials/learn-angular/7-event-handling -->
<section (mouseover)="onMouseOver()">
  There's a secret message for you, hover to reveal:
  {{ message }}
</section>
<hr>
<!-- Communicating with @Input - https://angular.dev/tutorials/learn-angular/8-input -->
<app-user name="Simran" />
<!-- Communicating with @Output - https://angular.dev/tutorials/learn-angular/9-output -->
<app-child (addItemEvent)="addItem($event)" />
<p>🐢 all the way down {{ items.length }}</p>
<!-- Deferrable views - https://angular.dev/tutorials/learn-angular/10-deferrable-views -->
<div>
  <h1>How I feel about Angular</h1>
  <article>
    <p>
      Angular is my favorite framework, and this is why. Angular has the coolest deferrable view
      feature that makes defer loading content the easiest and most ergonomic it could possibly
      be. The Angular community is also filled with amazing contributors and experts that create
      excellent content. The community is welcoming and friendly, and it really is the best
      community out there.
    </p>
    <p>
      I can't express enough how much I enjoy working with Angular. It offers the best developer
      experience I've ever had. I love that the Angular team puts their developers first and
      takes care to make us very happy. They genuinely want Angular to be the best framework it
      can be, and they're doing such an amazing job at it, too. This statement comes from my
      heart and is not at all copied and pasted. In fact, I think I'll say these exact same
      things again a few times.
    </p>
    <p>
      Angular is my favorite framework, and this is why. Angular has the coolest deferrable view
      feature that makes defer loading content the easiest and most ergonomic it could possibly
      be. The Angular community is also filled with amazing contributors and experts that create
      excellent content. The community is welcoming and friendly, and it really is the best
      community out there.
    </p>
    <p>
      I can't express enough how much I enjoy working with Angular. It offers the best developer
      experience I've ever had. I love that the Angular team puts their developers first and
      takes care to make us very happy. They genuinely want Angular to be the best framework it
      can be, and they're doing such an amazing job at it, too. This statement comes from my
      heart and is not at all copied and pasted. In fact, I think I'll say these exact same
      things again a few times.
    </p>
    <p>
      Angular is my favorite framework, and this is why. Angular has the coolest deferrable view
      feature that makes defer loading content the easiest and most ergonomic it could possibly
      be. The Angular community is also filled with amazing contributors and experts that create
      excellent content. The community is welcoming and friendly, and it really is the best
      community out there.
    </p>
    <p>
      I can't express enough how much I enjoy working with Angular. It offers the best developer
      experience I've ever had. I love that the Angular team puts their developers first and
      takes care to make us very happy. They genuinely want Angular to be the best framework it
      can be, and they're doing such an amazing job at it, too. This statement comes from my
      heart and is not at all copied and pasted.
    </p>
  </article>

  @defer (on viewport) {
  <app-comments />
  } @placeholder {
  <p>Future comments</p>
  } @loading (minimum 2s) {
  <p>Loading comments...</p>
  }
</div>
<!-- initial commit -->
<router-outlet />