<h2>{{ title }}</h2>
@if (comment && linkUrl) {
<blockquote>{{ comment }}</blockquote>
<a [href]="linkUrl">Link para a lição no site do Angular!</a>
}
@else if (comment && !linkUrl) {
<blockquote>{{ comment }}</blockquote>
}
@else if (!comment && linkUrl) {
<a [href]="linkUrl">Link para a lição no site do Angular!</a>
}
@else {
<p>There is no comment or link</p>
}
<hr>
<!-- Next steps - Add content of old Angular 17 Tutorials - Your first Angular app - https://v17.angular.io/tutorial/first-app -->
<section>
  <form>
    <input type="text" placeholder="Filter by city">
    <button class="primary" type="button">Search</button>
  </form>
</section>
<section class="results">
  <input type="text" placeholder="Filter by city" #filter>
  <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
  @if (filteredLocationList) {
  <hr>
  <app-housing-location *ngFor="let housingLocation of filteredLocationList"
    [housingLocation]="housingLocation"></app-housing-location>
  }
</section>